name: PR Checks - Test & Code Scan

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  pr-checks:
    name: Test, Lint & Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # tools for lint & security
          pip install pytest flake8 bandit

      - name: Run unit tests
        run: pytest -q

      - name: Run flake8 (lint)
        run: |
          flake8 app.py

      - name: Run Bandit (security scan)
        run: |
          bandit -r . -x tests
